// ---------------------------------------------------------------------
//  Link & Button Styles
// ---------------------------------------------------------------------

@mixin btn {
    position: relative;
    display: inline-block;
    text-align: center;
    width: auto;
    background: $brand;
    border-radius: 6px;
    border: none;
    color: $white;
    font-family: $display;
    font-size: 18px;
    font-weight: 400;
    padding: 21px 17px;
    transition: background $transition, color $transition;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        z-index: -1;
        background: $brand-dark;
        transform: translate3d(0, 4px, 0);
        transition: transform $trans;
    }

    &:active,
    &:focus,
    &:hover {
        cursor: pointer;
        background: $brand;
        border: none;
        color: $white;

        &:after {
            transform: translate3d(0, 2px, 0);
        }
    }
}

.btn {
    @include btn;
}

.btn--alt {
    background: transparent;
    color: $brand;

    &:hover {
        background: $brand;
        color: $white;
    }
}

.btn--light {
    background: transparent;
    color: $white;
    border-color: $white;

    &:hover {
        cursor: pointer;
        background: $white;
        color: $brand;
    }
}

// ----------------------------------------
// Links
// ----------------------------------------

.link,
.a,
p a,
.p a {
    font-weight: bold;
    text-decoration: underline;
}


// ----------------------------------------
//
// ----------------------------------------

.noTouch .tel,
.noTouch .tel:hover {
    cursor: text;
}
