// ---------------------------------------------------------------------
//  Link & Button Styles
// ---------------------------------------------------------------------

@mixin btn {
    position: relative;
    display: inline-block;
    text-align: center;
    width: auto;
    background: $brand;
    border-radius: 6px;
    min-width: 140px;
    border: none;
    color: $white;
    font-family: $display;
    font-size: 18px;
    font-weight: 400;
    padding: 21px 17px;
    transform: translate3d(0, 0, 0);
    z-index: 1;
    transition: transform $trans;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        transition: transform $trans, background $trans;
    }

    &:before {
        z-index: -1;
        background: $brand;
    }

    &:after {
        background: $brand-dark;
        z-index: -2;
        transform: translate3d(0, 4px, 0);
    }


    &:hover {
        cursor: pointer;
        border: none;
        color: $white;

        &:before {
            background: darken($brand, 5%);
        }

    }

    &:active {
        transform: translate3d(0, 3px, 0);

        &:after {
            transform: translate3d(0, 1px, 0);
        }
    }
}

.btn {
    @include btn;
}

.btn--sm {
    padding: 12px 17px;
    font-size: 14px;

}

.btn--light {
    background: transparent;
    color: $white;
    border-color: $white;

    &:hover {
        cursor: pointer;
        background: $white;
        color: $brand;
    }
}

// ----------------------------------------
// Links
// ----------------------------------------

.link,
.a,
p a,
.p a {
    font-weight: bold;
    text-decoration: underline;
}


// ----------------------------------------
//
// ----------------------------------------

.noTouch .tel,
.noTouch .tel:hover {
    cursor: text;
}
