---
layout: default
title: Build your Octocat
id: octocat-generator
permalink: /build-your-octocat/
---


<div id="octocat-generator">

    <div id="ui-wrapper">
        <div class="wrapper-wide d-flex flex-items-center flex-justify-center">
            <div id="start-over">
                <img class="mr-3" src="/assets/images/svgs/undo.svg" alt="Restart Icon" />
                <p class="d-none d-sm-block">Start Over</p>
            </div>

            <!-- <div class="octocat-name">
                <input id="octocat-name" type="text" placeholder="Name Your Octocat" value="" />
            </div> -->

            <div id="save">
                <p class="d-none d-sm-block">Finish & Share</p>
                <img class="ml-2" src="/assets/images/svgs/arrow-right.svg" alt="Restart Icon" />
            </div>
        </div>
    </div>


    <div id="artboard">
        <div id="octocat-wrap" class="artboard__inner">
            <svg version="1.1" id="octocat" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 2000 2000" enable-background="new 0 0 2000 2000" xml:space="preserve" width="412" height="412" body-color="#282828" body-color-secondary="#494949">

                <g id="hair-back-holder" data-cat="hair"></g>

                {% include_relative objects/body/BaseOctocat_v1.svg %}

                <g id="footwear-back-holder" data-cat="footwear"></g>

                <g id="bottoms-holder" data-cat="bottoms"></g>

                <g id="footwear-holder" data-cat="footwear"></g>

                <g id="hair-holder" data-cat="hair"></g>

                <g id="misc-back-holder" data-cat="misc"></g>

                <g id="faceHair-back-holder" data-cat="faceHair"></g>

                <g id="tops-holder" data-cat="tops"></g>

                <g id="faceHair-holder" data-cat="faceHair"></g>


                <g id="eyewear-holder" data-cat="eyewear"></g>

                <g id="headgear-holder" data-cat="headgear"></g>

                <g id="misc-holder" data-cat="misc"></g>

                <g id="props-holder" data-cat="props"></g>


            </svg>
        </div>
    </div>


    <nav id="control-panel">

        {% include_relative categories/face.html %}
        {% include_relative categories/body.html %}
        {% include_relative categories/eyes.html %}
        {% include_relative categories/hair.html %}
        {% include_relative categories/hair-color.html %}
        {% include_relative categories/headgear.html %}
        {% include_relative categories/tops.html %}
        {% include_relative categories/bottoms.html %}
        {% include_relative categories/footwear.html %}
        {% include_relative categories/props.html %}
        {% include_relative categories/eyewear.html %}
        {% include_relative categories/faceHair.html %}
        {% include_relative categories/faceHairColor.html %}
        {% include_relative categories/expressions.html %}
        {% include_relative categories/mouths.html %}
        {% include_relative categories/misc.html %}


        <div id="object-list">
            <div>

                <div class="category-tile" data-target="cp-body">
                    <span>
                        <img class="preview" src="/categories/icons/category-skin-color.svg" alt="skin color" />
                    </span>
                </div>

                <div class="category-tile" data-target="cp-face">
                    <span>
                        <img class="preview" src="/categories/icons/category-facial-expressions.svg" alt="skin color" />
                    </span>
                </div>


                <div class="category-tile" data-target="cp-eyes">
                    <span>
                        <img class="preview" src="/categories/icons/category-eyes.svg" alt="eye color" />
                    </span>
                </div>

                <div class="category-tile" data-target="cp-mouths">
                    <span>
                        <img class="preview" src="/categories/icons/category-mouths.svg" alt="mouths" />
                    </span>
                </div>

                <div class="category-tile" data-target="cp-hair">
                    <span>
                        <img class="preview" src="/categories/icons/category-hair.svg" alt="hair" />
                    </span>
                </div>

                <div class="category-tile disabled" data-target="cp-hair-color" id="hair-color-preview">
                    <span>
                        <img class="preview" src="/categories/icons/category-hair-color.svg" alt="hair-color" />
                    </span>
                </div>

                <div class="category-tile" data-target="cp-faceHair">
                    <span>
                        <img class="preview" src="/categories/icons/category-facial-hair.svg" alt="facial hair" />
                    </span>
                </div>
                <div class="category-tile disabled" data-target="cp-facehair-color" id="face-hair-color-preview">
                    <span>
                        <img class="preview" src="/categories/icons/category-facial-hair-color.svg" alt="facial hair" />
                    </span>
                </div>

                <div class="category-tile" data-target="cp-tops">
                    <span>
                        <img class="preview" src="/categories/icons/category-tops.svg" alt="tops" />
                    </span>
                </div>

                <div class="category-tile" data-target="cp-bottoms">
                    <span>
                        <img class="preview" src="/categories/icons/category-bottoms.svg" alt="bottoms" />
                    </span>
                </div>

                <div class="category-tile" data-target="cp-footwear">
                    <span>
                        <img class="preview" src="/categories/icons/category-footwear.svg" alt="footwear" />
                    </span>
                </div>

                <div class="category-tile" data-target="cp-headgear" id="headgear-preview">
                    <span>
                        <img class="preview" src="/categories/icons/category-headgear.svg" alt="headgear" />
                    </span>
                </div>

                <div class="category-tile" data-target="cp-eyewear">
                    <span>
                        <img class="preview" src="/categories/icons/category-eyewear.svg" alt="eyewear" />
                    </span>
                </div>

                <div class="category-tile" data-target="cp-misc">
                    <span>
                        <img class="preview" src="/categories/icons/category-misc.svg" alt="misc" />
                    </span>
                </div>

                <div class="category-tile" data-target="cp-props">
                    <span>
                        <img class="preview" src="/categories/icons/category-props.svg" alt="bottoms" />
                    </span>
                </div>

            </div>
        </div>

    </nav>
</div>





<div class="modal-wrap" id="export-modal">
    {% assign socailNote = 'Just created my Octocat!' %}

    <div class="modal">
        <div>

            <div id="octocat-name-modal" class="mb-2">
                Octocat
            </div>
            <img id="img" src="/assets/images/base-octocat.svg" alt="Octocat" />
            <!-- <img id="img" src="/assets/images/base-octocat.svg" width="500" height="500" alt="Octocat" /> -->

            <form id="post-to-twitter" enctype="multipart/form-data" action="">
                <input type="hidden" id="form-name" name="name" value="Andrew"  />
                <input type="hidden" id="form-image" name="media_data" value=""  />
                <button class="btn btn--sm" type="submit">Tweet Me</button>
            </form>

            <canvas id="canvas" style="width: 500px; height: 500px; background: red;"></canvas>
        </div>
    </div>
</div>

<script>

    var form = document.getElementById("post-to-twitter");

    document.getElementById("post-to-twitter").addEventListener("submit", function(e){
        e.preventDefault();

        var name = document.getElementById('form-name').value;
        var mediab64 = document.getElementById('form-image').value;

        //console.log(data);

        // fetch('https://ar-tweet-server.herokuapp.com/', {
        //     method:'POST',
        //     headers: {
        //         'Accept': 'application/json, text/plain, */*',
        //         'Content-type':'application/json'
        //     },
        //     body:JSON.stringify({name: name, media_id: mediab64})
        // })
        // .then((res) => res.json())
        // //.then(text => console.log(text))
        // .then((data) => {
        //     console.log(data.success);
        //     if( data.success === true ){
        //         //document.getElementById("eloquaForm").submit();
        //         console.log("Now continue the process");
        //     }
        // });
    });
</script>
