<div class="category-panel" id="cp-body">
    <div class="category-objects-panel" id="body-color">
        <div class="category-objects-panel__inner">

            {% for item in site.data.bodyColors %}
            <div class="color-swatch-wrap{% if item.isActive %} is-active{% endif %}">
                <span class="color-swatch" data-color="#{{ item.primary }}" data-second-color="#{{ item.underside }}" data-third-color="#{{ item.suctions }}"><span></span></span>
            </div>
            {% endfor %}

        </div>
        {% include arrows.html %}
    </div>
</div>
