<div class="category-panel" id="cp-expressions">

    <div class="category-objects-panel">
        <div class="category-objects-panel__inner">

            <div class="remove-category" data-category="expressions" id="remove-expressions">
                <p class="sr-only">Remove object</p>
            </div>

            {% for item in site.data.expressions %}

            <div class="object-preview" data-category="expressions">
                <img class="preview" src="/objects/expressions/icons/{{ item.icon }}" alt="{{ item.name }}" />

                <div class="object expressions{% for rule in item.rules %} {{rule.rule}}{% endfor %}" data-holder="expressions-holder">
                    {% include_relative objects/expressions/{{ item.image }} %}
                </div>
            </div>

            {% endfor %}

        </div>

        {% include arrows.html %}

    </div>
</div>
