<div class="category-panel" id="cp-eyes">

    <div class="category-objects-panel">
        <div class="category-objects-panel__inner">

            {% for item in site.data.eyes %}

            <div class="object-preview{% if item.isActive %} is-active{% endif %}" data-category="eyes">
                <img class="preview" src="/objects/eyes/icons/{{ item.icon }}" alt="{{ item.name }}" />

                <div class="object eyes{% for rule in item.rules %} {{rule.rule}}{% endfor %}" data-holder="eyes{% if item.position %}-{{ item.position }}{% endif %}-holder">
                    {% include_relative objects/eyes/{{ item.image }} %}
                </div>
            </div>

            {% endfor %}

        </div>

        {% include arrows.html %}

    </div>
</div>
