<div class="category-panel" id="cp-hair">

    <div class="category-objects-panel">
        <div class="category-objects-panel__inner">

            <div class="remove-category" data-category="hair">
                <p class="sr-only">Remove object</p>
            </div>

            {% for item in site.data.hair %}

            <div class="object-preview" data-category="hair">
                <img class="preview" src="/objects/hair/icons/{{ item.icon }}" alt="{{ item.name }}" />

                <div class="object hair{% for rule in item.rules %} {{rule.rule}}{% endfor %}" data-holder="hair-holder">
                    {% include_relative objects/hair/{{ item.image }} %}
                </div>
            </div>

            {% endfor %}
        </div>

        {% include arrows.html %}
    </div>
</div>
