<div class="category-panel" id="cp-hair">

    <div class="category-objects-panel">
        <div class="category-objects-panel__inner">

            <div class="remove-category" data-category="hair">
                <p class="sr-only">Remove object</p>
            </div>

            <div class="object-preview" data-category="hair">
                <img class="preview" src="/objects/hair/bob-preview.svg" alt="" />

                <div class="object hair hide-headgear" data-holder="hair-holder">
                    {% include_relative objects/hair/11_Hair_Bob_v01.svg %}
                </div>
            </div>

            <div class="object-preview" data-category="hair">
                <img class="preview" src="/objects/hair/mullet-preview.svg" alt="" />

                <div class="object hair hide-headgear" data-holder="hair-holder">
                    {% include_relative objects/hair/mullet.svg %}
                </div>
            </div>


            <div class="object-preview" data-category="hair">
                <img class="preview" src="/objects/hair/hair-long-preview.svg" alt="" />

                <div class="object hair hair-with-headgear" data-holder="hair-holder">
                    {% include_relative objects/hair/hair-long.svg %}
                </div>

                <div class="object hair hair-with-headgear" data-holder="hair-back-holder">
                    {% include_relative objects/hair/hair-long-back.svg %}
                </div>
            </div>



            <div class="object-preview" data-category="hair">
                <img class="preview" src="/objects/hair/mohawk-preview.svg" alt="" />
                <div class="object hair hide-headgear" data-holder="hair-holder">
                    {% include_relative objects/hair/mohawk.svg %}
                </div>
            </div>

            <div class="object-preview" data-category="hair">
                <img class="preview" src="/objects/hair/messy-preview.svg" alt="" />
                <div class="object hair hide-headgear" data-holder="hair-holder">
                    {% include_relative objects/hair/messy.svg %}
                </div>
            </div>
        </div>


        <div class="arrow scroll-left disabled">
            <img src="/assets/images/svgs/angle-left.svg" alt="arrow right" />
        </div>

        <div class="arrow scroll-right disabled">
            <img src="/assets/images/svgs/angle-right.svg" alt="arrow right" />
        </div>
    </div>
</div>
