<div class="category-panel" id="cp-headgear">

    <div class="category-objects-panel">
        <div class="category-objects-panel__inner">

            <div class="remove-category" data-category="headgear" id="remove-headgear">
                <p class="sr-only">Remove object</p>
            </div>

            <div class="object-preview" data-category="headgear">
                <img class="preview" src="/objects/headgear/viking-hat-preview.svg" alt="" />

                <div class="object headgear hide-ears" data-holder="headgear-holder">
                    {% include_relative objects/headgear/viking-hat.svg %}
                </div>
            </div>



            <div class="object-preview" data-category="headgear">
                <img class="preview" src="/objects/headgear/hat-blue-preview.svg" alt="" />
                <div class="object headgear" data-holder="headgear-holder">
                    {% include_relative objects/headgear/hat-blue.svg %}
                </div>
            </div>


            <div class="object-preview" data-category="headgear">
                <img class="preview" src="/objects/headgear/chef-hat-preview.svg" alt="" />
                <div class="object headgear" data-holder="headgear-holder">
                    {% include_relative objects/headgear/chef-hat.svg %}
                </div>
            </div>

        </div>

        <div class="arrow scroll-left disabled">
            <img src="/assets/images/svgs/angle-left.svg" alt="arrow right" />
        </div>

        <div class="arrow scroll-right disabled">
            <img src="/assets/images/svgs/angle-right.svg" alt="arrow right" />
        </div>
    </div>
</div>
