<div class="category-panel" id="cp-headgear">

    <div class="category-objects-panel">
        <div class="category-objects-panel__inner">

            <div class="remove-category" data-category="headgear" id="remove-headgear">
                <p class="sr-only">Remove object</p>
            </div>

            {% for item in site.data.headgear %}

            <div class="object-preview" data-category="headgear">
                <img class="preview" src="/categories/icons/category-headgear.svg" alt="headgear" />

                <div class="object headgear{% for rule in item.rules %} {{rule.rule}}{% endfor %}" data-holder="headgear-holder">
                    {% include_relative objects/headgear/{{ item.image }} %}
                </div>
            </div>

            {% endfor %}

        </div>

        {% include arrows.html %}
    </div>
</div>
