<div class="category-panel" id="cp-mouths">

    <div class="category-objects-panel">
        <div class="category-objects-panel__inner">



            {% for item in site.data.mouths %}

            <div class="object-preview {% for rule in item.rules %}{{rule.rule}} {% endfor %}{% if item.isActive %} is-active{% endif %}" data-category="mouths" data-classes="{% for rule in item.rules %}{{rule.rule}}{% if forloop.last == false %},{% endif %}{% endfor %}">
                <img class="preview" src="/objects/mouths/icons/{{ item.icon }}" alt="{{ item.name }}" />

                <div class="object mouths{% for rule in item.rules %} {{rule.rule}}{% endfor %}" data-holder="mouths{% if item.position %}-{{ item.position }}{% endif %}-holder" >
                    {% include_relative objects/mouths/{{ item.image }} %}
                </div>
            </div>

            {% endfor %}

        </div>

        {% include arrows.html %}

    </div>
</div>
