<div class="category-panel" id="cp-pants">

    <div class="category-objects-panel">
        <div class="category-objects-panel__inner">

            <div class="remove-category" data-category="pants">
                <p class="sr-only">Remove object</p>
            </div>

            <div class="object-preview" data-category="pants">
                <img class="preview" src="/objects/pants/jeans-preview.svg" alt="" />
                <div class="object pants" data-holder="pants-holder">
                    {% include_relative objects/pants/jeans.svg %}
                </div>
            </div>

            <div class="object-preview" data-category="pants">
                <img class="preview" src="/objects/pants/slacks-preview.svg" alt="" />
                <div class="object pants" data-holder="pants-holder">
                    {% include_relative objects/pants/slacks.svg %}
                </div>
            </div>

        </div>

        <div class="arrow scroll-left disabled">
            <img src="/assets/images/svgs/angle-left.svg" alt="arrow right" />
        </div>

        <div class="arrow scroll-right disabled">
            <img src="/assets/images/svgs/angle-right.svg" alt="arrow right" />
        </div>
    </div>
</div>
