<div class="category-panel" id="cp-shirts">


    <div class="category-objects-panel">
        <div class="category-objects-panel__inner">

            <div class="remove-category" data-category="shirts">
                <p class="sr-only">Remove object</p>
            </div>

            <div class="object-preview" data-category="shirts">
                <img class="preview" src="/objects/shirts/github-tee-preview.svg" alt="" />
                <div class="object shirts" data-holder="shirts-holder">
                    {% include_relative objects/shirts/github-tee.svg %}
                </div>
            </div>


            <div class="object-preview" data-category="shirts">
                <img class="preview" src="/objects/shirts/longsleeve-preview.svg" alt="" />
                <div class="object shirts" data-holder="shirts-holder">
                    {% include_relative objects/shirts/longsleeve.svg %}
                </div>
            </div>


        </div>

        <div class="arrow scroll-left disabled">
            <img src="/assets/images/svgs/angle-left.svg" alt="arrow right" />
        </div>

        <div class="arrow scroll-right disabled">
            <img src="/assets/images/svgs/angle-right.svg" alt="arrow right" />
        </div>
    </div>
</div>
