<div class="category-panel" id="cp-shoes">

    <div class="category-objects-panel">
        <div class="category-objects-panel__inner">

            <div class="remove-category" data-category="shoes">
                <p class="sr-only">Remove object</p>
            </div>


            <div class="object-preview" data-category="shoes">
                <img class="preview" src="/objects/shoes/sneaker-preview.svg" alt="" />
                <div class="object shoes" data-holder="shoes-holder">
                    {% include_relative objects/shoes/sneakers.svg %}
                </div>
            </div>

            <div class="object-preview" data-category="shoes">
                <img class="preview" src="/objects/shoes/boots-preview.svg" alt="" />
                <div class="object shoes" data-holder="shoes-holder">
                    {% include_relative objects/shoes/boots.svg %}
                </div>
            </div>

        </div>

        <div class="arrow scroll-left disabled">
            <img src="/assets/images/svgs/angle-left.svg" alt="arrow right" />
        </div>

        <div class="arrow scroll-right disabled">
            <img src="/assets/images/svgs/angle-right.svg" alt="arrow right" />
        </div>
    </div>
</div>
