        <footer class="site-footer">
            <div class="wrapper">
                <a href="https://github.com/" target="_blank" title="Visit GitHub.com">
                    <img src="/assets/images/GitHub-logo.svg" alt="GitHub icon" />
                </a>

                <ul>
                    <li>
                        <a href="">Create Your Octocat</a>
                    </li>
                    <li>
                        <a href="">Gallery</a>
                    </li>
                    <li>
                        <a href="">#Octogenerator</a>
                    </li>
                    <li>
                        <a href="">Terms</a>
                    </li>
                    <li>
                        <a href="">Privacy</a>
                    </li>
                </ul>

                <small>© <script>document.write(new Date().getFullYear())</script> GitHub, Inc. Octocat Generator™ is a registered trademark of GitHub, Inc. All Rights Reserved.</small>
            </div>
        </footer>
