        <footer class="site-footer">
            <div class="wrapper">
                <a href="https://github.com/" target="_blank" title="Visit GitHub.com">
                    <img src="/assets/images/GitHub-logo.svg" alt="GitHub icon" />
                </a>

                <ul>
                    <li>
                        <a href="https://github.com/" target="_blank">GitHub</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/monatheoctocat" target="_blank">Gallery</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/#myoctocat" target="_blank">#MyOctocat</a>
                    </li>
                    <li>
                        <a href="/terms/">Terms</a>
                    </li>
                    <li>
                        <a href="https://help.github.com/articles/github-privacy-statement/" target="_blank">Privacy</a>
                    </li>
                </ul>

                <small>© <script>document.write(new Date().getFullYear())</script> GitHub, Inc. Octocat Generator™ is a registered trademark of GitHub, Inc. All Rights Reserved.</small>
            </div>
        </footer>
