<header id="site-header">
    <div class="wrapper-wide">
        <h1 class="logo" itemscope itemtype="http://schema.org/Organization">
            <a href="/" itemprop="url">
                <span class="sr-only" itemprop="name">GitHub</span>
                <span class="sr-only" itemprop="description">Octocat Generator</span>
                <img itemprop="logo" src="/assets/images/Octocat-logo.svg" alt="Octocat generator logo" />
            </a>
        </h1>

        <nav id="site-navigation">
            <ul>
                <li {% if page.id == 'octocat-generator' %}class="is-active"{% endif %}>
                    <a href="/build-your-octocat/">Create Your Octocat</a>
                </li>
                <li>
                    <a href="/octocat-gallery/">View Gallery</a>
                </li>
            </ul>
        </nav>

        <div id="menu-toggle">
            <div>
                <span class="burger-top"></span>
                <span class="burger-middle"></span>
                <span class="burger-bottom"></span>
            </div>
        </div>
    </div>
</header>
