// ---------------------------------------------------------------------
//  Object Nav
// ---------------------------------------------------------------------


#control-panel {

}

#object-list {
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    > * {
        display: flex;
        align-items: center;
        overflow: auto;
        width: auto;
        height: 100px;

        &:before,
        &:after {
            content: '';
            width: 36px;
            min-width: 36px;
            display: block;
            height: 20px;
        }
    }
}

$category-tile-size-xs: 58px;
$category-tile-size: 64px;

.category-tile {
    position: relative;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $gray-light;

    transition: border-color $trans, background $trans;
    pointer-events: inherit;


    width: $category-tile-size-xs;
    min-width: $category-tile-size-xs;
    height: $category-tile-size-xs;
    margin: 0 2px;
    border: 1px solid $gray-light;

    img {
        max-height: 36px;
    }

    @include start-at($small) {
        margin: 0 4px;
    }

    @include start-at($medium) {

    }

    @include start-at($large) {
        width: $category-tile-size;
        min-width: $category-tile-size;
        height: $category-tile-size;
        border: 1px solid $gray-light;

        img {
            max-height: 40px;
        }
    }

    &.disabled {
        filter: grayscale(100%);
        opacity: 0.4;
        pointer-events: none;

        &:hover {
            cursor: default;

        }
    }

    &:before {
        content: '';
        position: absolute;
        bottom: calc(100% + 8px);
        left: 50%;
        width: 16px;
        height: 16px;
        background: $white;
        transform: translate3d(-50%, 0, 0) rotate(45deg);
        opacity: 0;
        transition: opacity $trans;

        @include start-at($large) {
            bottom: calc(100% + 12px);
        }
    }

    &.is-active {
        border-color: $green;
        background: $white;

        &:before {
            opacity: 1;
        }
    }

    &.category-tile--only-color:before {
        display: none;
    }



    &:hover {
        cursor: pointer;
    }
}


// ----------------------------------------
// Object Nav
// ----------------------------------------

.category-panel {
    width: 100%;
    height: 90px;
    //bottom: 90px;

    position: absolute;
    background: $white;
    align-items: center;
    justify-content: center;


    ::-webkit-scrollbar {
        display: none;
    }

    &:hover {
        // ::-webkit-scrollbar-thumb {
        //     background: $brand;
        // }
    }

    // ::-webkit-scrollbar-track {
    //     background: transparent;
    // }
    //
    // ::-webkit-scrollbar-thumb {
    //     background: transparent;
    //     transition: background 0.4s ease;
    //     opacity: 0;
    // }






    display: none;

    &.is-active {
        display: flex;
    }

    &.category-panel--color-only {
        background: transparent;
        height: 0px;
    }


    @include start-at($large) {
        width: 94%;
        height: 100px;
        //bottom: 100px;
        //left: 3%;
        margin: 0 auto;
        border-radius: 10px;
    }
}

.category-panel__inner {
    display: flex;
    align-items: center;
    overflow: auto;
    width: auto;
    height: 115px;




    @include start-at($medium) {
        //margin: 0 72px;
        padding: 0 36px;
    }

    @include start-at($large) {
        margin: 0 120px;
    }
}

.category-panel__inner,
.color-panel__inner {
    user-select: none;

    &:after {
        content: '';
        width: 24px;
        min-width: 24px;
        display: block;
        height: 20px;
    }

    &:hover {
        cursor: grab !important;
    }

    &.moving {
        cursor: grabbing !important;
        //background: red;

        .object-preview,
        .remove-category,
        .object-preview:hover,
        .remove-category:hover,
        .color-swatch {
            cursor: grabbing !important;
        }
    }
}



$object-preview-size-xs: 76px;
$object-preview-size: 82px;

.object-preview,
.remove-category {
    position: relative;
    width: $object-preview-size-xs;
    min-width: $object-preview-size-xs;
    height: $object-preview-size-xs;
    background: $white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background $trans;

    @include start-at($small) {
        margin: 0 2px;
    }

    @include start-at($medium) {
        margin: 0 6px;
    }

    @include start-at($large) {
        width: $object-preview-size;
        min-width: $object-preview-size;
        height: $object-preview-size;
    }

    &:hover {
        cursor: pointer;
    }

    .no-touch & {
        &:hover {
            background: $off-white;
        }
    }

    &.is-active {
        background: $off-white;
    }

    svg {
        display: none;
    }

    img {
        max-height: 60px;
        pointer-events: none;
    }
}


// ----------------------------------------
//
// ----------------------------------------

.remove-category {
    opacity: 0.6;
    transition: opacity $trans;

    background: $white url('../images/svgs/remove.svg') center / 40px 40px no-repeat;

    &:hover {
        background: $white url('../images/svgs/remove.svg') center / 40px 40px no-repeat;
        opacity: 1;
    }
}



// ----------------------------------------
// Color Panel
// ----------------------------------------


.color-panel {
    width: 100%;
    height: 66px;
    //top: -62px;
    //left: 0;
    border-radius: 4px;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 1;
    display: flex;

    @include start-at($large) {
        width: 94%;
        height: 66px;
        // top: -66px;
        // left: 3%;
    }

    .color-panel__inner {
        display: flex;
        align-items: center;
        overflow: auto;
        width: auto;
        height: 100%;
        padding: 0 24px;

        @include start-at($medium) {
            margin: 0 72px;
        }

        @include start-at($large) {
            margin: 0 120px;
        }
    }

    &.is-active {

    }

    .color-swatch {
        margin-right: 10px;

        @include start-at($large) {
            margin-right: 12px;
        }
    }
}

$swatch-size: 44px;

.color-swatch {
    display: block;
    width: $swatch-size;
    min-width: $swatch-size;
    height: 42px;
    border-radius: 4px;
    background: $white;
    position: relative;

    &:before,
    &:after {
        content: '';
        @include cover-parent;
        display: block;
        border-radius: 4px;
        z-index: -4;
        transform: translate3d(0, 4px, 0);
        transition: transform $trans;
    }

    &:before {
        background: currentColor url('../images/svgs/swatch-shadow.svg') bottom center / 100% auto no-repeat;
    }

    &:after {
        background: black;
        opacity: 0.2;
    }


    &:hover {
        cursor: pointer;



        &:before,
        &:after {
            transform: translate3d(0, 3px, 0);
        }
    }
}



.arrow {
    position: absolute;
    width: 42px;
    min-width: 42px;
    height: 42px;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 4;
    transition: opacity $trans;

    @include start-at($medium) {

    }

    @include start-at($large) {
        display: flex;
        width: 48px;
        min-width: 48px;
        height: 52px;
    }

    img {
        transition: transform $trans;
    }

    &:before,
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 50%;
    }

    &:before {
        top: 0;
        right: 0;
        background: $gray-dark;
        z-index: -1;
        transition: transform $trans;
    }

    &:after {
        top: 2px;
        right: 2px;
        background: $black;
        border-radius: 50%;
        z-index: -2;
    }

    &.disabled {
        opacity: 0;
        pointer-events: none;
    }
}

.scroll-right {
    right: 12px;

    &:hover {
        cursor: pointer;
        img,
        &:before {
            transform: translate3d(-2px, 2px, 0);
        }
    }

    @include start-at($medium) {
        right: 40px;
    }
}

.scroll-left {
    left: 12px;

    &:hover {
        cursor: pointer;
        img,
        &:before {
            transform: translate3d(-2px, 2px, 0);
        }
    }

    @include start-at($medium) {
        left: 40px;
    }
}
