// ---------------------------------------------------------------------
//  Octocat (Actual SVG)
// ---------------------------------------------------------------------


#octocat {
    position: relative;

    #ears {

        &.is-hidden {
            display: none;
        }
    }

    #head {
        position: absolute;
        z-index: 12;
        top: 0;
        left: 0;
    }

    #body {
        position: absolute;
        z-index: 11;
        top: 0;
        left: 0;
    }

    g.headgear {
        transform: scale(1);
        transform-origin: center;
    }


    &.enlarge-headgear g.headgear {
        transform: scale(1.12);
        transform-origin: center;
    }

    g.is-hidden {
        display: none;
    }

}


 .object.headgear {
    transform: scale(1);
    transform-origin: center;
}


.enlarge-headgear .object.headgear {
    transform: scale(1.12);
    transform-origin: center;
}


// ----------------------------------------
//
// ----------------------------------------

#ui-wrapper {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    padding: 12px 0;
    z-index: 2;

    @media(min-height: 600px) {
        padding: 24px 0;
    }

    p {
        font-family: $display;
        font-size: 14px;
        letter-spacing: 0;
        margin-bottom: 0;
    }
}

#start-over {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: opacity $trans;

    p {
        color: #959DA5;
    }

    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}


#save {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: opacity $trans;


    p {
        color: $brand;
    }

    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}


.octocat-name {
    flex-grow: 1;
    max-width: 60%;
}
