// ---------------------------------------------------------------------
//  Global Header Styles
// ---------------------------------------------------------------------

#site-header {
	position: relative;
	z-index: 10;
	width: 100%;
	background: $black;


	.wrapper-wide {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		height: 64px;
	}
}

// ----------------------------------------
// Logo Styles
// ----------------------------------------

$logo-width: 220px;
$logo-height: 72px;

.logo {
	flex-grow: 1;
	height: 100%;
	display: flex;
	align-items: center;
}

.logo a {
	display: block;
	font-family: $sans-serif;
	font-size: 24px;
	line-height: 1;

	cursor: default;
	color: $white;

	img {
		width: 211px;
	}
}

#site-navigation {

	ul {
		flex-grow: 1;
		height: 100%;
		display: flex;
		align-items: stretch;
	}

	a {
		display: block;
		color: $white;
		font-size: 14px;
		font-weight: 500;
		padding: 16px;

		flex-grow: 1;
		height: 100%;
		display: flex;
		align-items: center;
		background: transparent;
		transition: background $trans;

		&:hover {
			background: #2C3238;
		}
	}

	li.is-active {
		a {
			background: #2C3238;
		}
	}

}
