// ---------------------------------------------------------------------
//  Form Styles (Gravity Forms)
// ---------------------------------------------------------------------



// ----------------------------------------
// Inputs
// ----------------------------------------


input {
    appearance: none;
    display: block;
    text-align: center;
    overflow: hidden;
    box-shadow: none;
    border: none;
    width: 100%;
    padding: 0 24px;

    background: transparent;
    font-size: 16px;
    color: $black;

    @include start-at($medium) {
        font-size: 20px;
    }

    &:focus,
    &:active {
        outline: none;
    }
}



// ----------------------------------------
// Placeholders
// ----------------------------------------



input::-webkit-input-placeholder {
    color: #959DA5;
    transition: opacity $trans;
}
input:focus::-webkit-input-placeholder {
    opacity: 0.3;
}
input:-moz-placeholder {
    color: #959DA5;
    transition: opacity $trans;
}
input:focus:-moz-placeholder {
    opacity: 0.3;
}
input::-moz-placeholder {
    color: #959DA5;
    transition: opacity $trans;
}
input:focus::-moz-placeholder {
    opacity: 0.3;
}
input:-ms-input-placeholder {
    color: #959DA5;
    transition: opacity $trans;
}
input:focus:-ms-input-placeholder {
    opacity: 0.3;
}
